spring:
  application:
    name: battlecode-be
  datasource:
    url: jdbc:postgresql://localhost:5432/battlecode
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
#app:
#  jwt:
#    secret: trucdnd654651564848947984654das9846dsfa
#    expiration-ms: 3600000000
file:
  upload-dir: uploads
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
      access: unrestricted
logging:
  level:
    org.springframework.boot.actuate: DEBUG
    org.springframework.security: DEBUG